@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --hover-color: #272727;
  --primary-color: #f6f6f6;
  --secondary-color: #000000;
  --tertiary-color: #22d4fd;

  --primary-font: "Krona One", sans-serif;
  --secondary-font: "Montserrat", sans-serif;

  --secondary-font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  box-sizing: border-box;
  color: var(--secondary-color);
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 2% 0% 0% 15%;
}

.nav-bar {
  display: flex;
  gap: 80px;
}

.link-menu {
  color: var(--tertiary-color);
  font-family: var(--secondary-font);
  font-size: var(--secondary-font-size);
  font-weight: 600;
  text-decoration: none;
}

.presentation {
  align-itens: center;
  display: flex;
  flex-direction: column;
  gap: 82px;
  justify-content: space-between;
  padding: 5% 15%;
}

.title {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 2.25rem;
  font-weight: 400;
}

.presentation__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.presentation__image {
  width: 50%;
}

.paragraph {
  font-family: var(--secondary-font);
  font-size: var(--secondary-font-size);
  text-align: justify;
}

.list {
  display: flex;
  font-family: var(--secondary-font);
  font-size: var(--secondary-font-size);
  list-style-type: none;
}

.contact-title {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: var(--secondary-font-size);
  font-weight: 400;
  text-align: center;
}

.links {
  align-itens: center;
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.link {
  border: 2px solid var(--tertiary-color);
  border-radius: 8px;
  color: var(--secondary-color);
  display: flex;
  font-family: var(--secondary-font);
  font-size: var(--secondary-font-size);
  font-weight: 600;
  gap: 16px;
  justify-content: center;
  padding: 21.5px 0;
  text-align: center;
  text-decoration: none;
  width: 50%;
}

.link:hover {
  background-color: var(--hover-color);
}

.footer {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding: 24px;
}

.footer__paragraph {
  font-family: var(--secondary-font);
  font-size: var(--secondary-font-size);
  font-weight: 400;
  text-align: center;
}

@media (max-width: 1200px) {
  .presentation {
    flex-direction: column-reverse;
  }
}
