@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  box-sizing: content-box;
  color: #f6f6f6;
  justify-content: space-between;
}

.header {
  padding: 2% 0% 0% 15%;
}

.nav-bar {
  color: #22d4fd;
  display: flex;
  font-family: "montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  gap: 80px;
}

.presentation {
  align-itens: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 5%;
}

.title {
  font-family: "Krona One", sans-serif;
  font-size: 36px;
}

.presentation__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 615px;
}

strong {
  color: #22d4fd;
}

.paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: justify;
}

.contact-title {
  font-family: "Krona One", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.links {
  align-itens: center;
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.link {
  align-text: center;
  border: 2px solid #22d4fd;
  border-radius: 8px;
  color: #f6f6f6;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  gap: 16px;
  justify-content: center;
  padding: 21.5px 0;
  text-decoration: none;
  width: 378px;
}

.link:hover {
  background-color: #272727;
}

.footer {
  background-color: #22d4fd;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding: 24px;
}

.footer__paragraph {
  text-align: center;
}
